.grey-background {
    background-color: whitesmoke;
    height:auto;
}

md-tabs {
    height: 440px!important;
}

md-tab-item.md-tab {
  padding-left: 5px;
  padding-right: 5px;
}

.lobby-icon {
    margin-right: 5px;
}

.notif-list p {
    line-height: 1.2;
    
}

.page-header-custom {
    border-top: 1px solid white;
    background-color: white;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
}

/*.controls > td > div {
  border-radius:15px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
}*/

.controls > td h3 {
    /*background-color: black;*/
    /*color:white;*/
}

.button-xlarge {
    font-size: 125%;
    margin: 5px 5px 5px 5px;
}

.clicked {
    background-color: #575757;
    color: white;
}

td {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
    /*border: 1px solid aqua;*/
}

.error {
    color: red;
}

a {
    margin: 5px 5px 5px 5px;
    font-size: 125%;
    cursor: pointer;
}

li {
    /*margin-left: 5px;*/
}


.nav-tabs {
    margin-bottom: 0px;
}

div > .messages {
    font-size: 100%;
}
