<div style="height: 600px; overflow-y: scroll" scroll-glue>
    <pre>
      {{ screen }}
    </pre>
</div>

<input type="text"
       ng-model="input.cmd"
       ng-enter="submit(input.cmd)"
       autofocus />
