<html ng-app="mater2">
<head>
    <title> Bughouse Club </title>

    <!-- BOOTSTRAP CSS -->
    <!-- build:css app.css -->
    <!-- CHESSBOARD CSS -->
    <link rel="stylesheet" href="bower_components/chessboard.js/css/chessboard.css">

    <!--ANGULAR MATERIAL CSS-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <!-- OUR STYLESHEETS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
    <!-- build:js app.js -->
    <!-- JQUERY LIBRARY -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- MOMENT TIME LIBRARY -->
    <script src="bower_components/moment/moment.js"></script>
    <!-- SOCK JS -->
    <script src="sockjs/sockjs.min.js"></script>
    <!-- ANGULAR -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <!-- ANGULAR SCROLL GLUE -->
    <script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
    <!-- ANGULAR-SOCK-JS -->
    <script src="bower_components/angular-sockjs/socket.js"></script>
    <!-- ANGULAR-CHESS -->
    <script src="bower_components/chessboard.js/js/chessboard.js"></script>

    <!-- ANGULAR ROUTING-->
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <!-- ANGULAR MATERIAL-->
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <!-- MAIN APP -->
    <script src="app.js"></script>
    <!-- UTILIY SCRIPTS -->
    <script src="app/util/directives/ng_enter.js"></script>
    <script src="app/util/net/websocket.js"></script>
    <script src="app/util/net/timeseal.js"></script>
    <script src="app/util/net/ics_adapter.js"></script>
    <script src="app/util/net/ics_service.js"></script>
    <script src="app/util/net/offline_adapter.js"></script>
    <script src="app/util/base/imc_service.js"></script>
    <script src="app/util/base/localization_service.js"></script>
    <script src="app/util/base/config.js"></script>
    <script src="app/util/base/success.js"></script>
    <script src="app/util/base/toaster/toaster.js"></script>
    <script src="app/util/base/desktop_notifs.js"></script>
    <script src="app/util/shell/ctrl.js"></script>
    <!-- CHESS UTILITY SCRIPTS -->
    <script src="app/util/chess/chessboard.js"></script>
    <script src="app/util/chess/chessclock.js"></script>
    <!-- PROFILE SCRIPTS -->
    <script src="app/profile/service.js"></script>
    <!-- LOGIN DIALOG SCRIPTS -->
    <script src="app/login/service.js"></script>
    <script src="app/login/ctrl.js"></script>
    <!-- MATCH DIALOG SCRIPTS -->
    <script src="app/match/directives.js"></script>
    <script src="app/match/service.js"></script>
    <script src="app/match/ctrl.js"></script>
    <!-- PARTNER DIALOG -->
    <script src="app/partner/ctrl.js"></script>
    <script src="app/partner/service.js"></script>
    <!-- CHAT TABS CONTROLLER -->
    <script src="app/chat/service.js"></script>
    <script src="app/chat/ctrl.js"></script>
    <!-- LOBBY DIALOG SCRIPTS -->
    <script src="app/lobby/service.js"></script>
    <script src="app/lobby/ctrl.js"></script>
    <!-- LOBBY CHAT SCRIPTS -->
    <script src="app/lobby_chat/service.js"></script>
    <script src="app/lobby_chat/ctrl.js"></script>
    <!-- NOTIFICATION SCRIPTS -->
    <script src="app/notifications/ctrl.js"></script>
    <script src="app/notifications/service.js"></script>
    <!-- GAME SCRIPTS -->
    <script src="app/game/service.js"></script>
    <script src="app/game/ctrl.js"></script>

    <!-- endbuild -->
    <!-- ANGULAR MATERIAL DESIGN ICONS-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
</head>
<body ng-controller="MaterImproved" class="grey-background">
    <div>

        <!--
          Page Header
        -->
        <div class="page-header page-header-custom">
          <a href = '#/'>
            <h1 style="margin-left: 55px; margin-bottom: 5px">
                <img src="http://bughouseclub.com/wp-content/uploads/2015/01/Lol1-300x65.png"></img>
            </h1>
          </a>
        </div>


        <section layout="row">
            <!-- Side navbar that holds the notifications as well as chat lobby -->
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools"> {{ locale.welcome }}  {{ GetUsername() }} </h1>
                </md-toolbar>
                <md-content layout-padding>
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                </md-content>
                <md-subheader ng-show ="ObservingBoards()"> You're currently playing a game <a href="#/game">here!</a>  </md-subheader>
                <md-divider></md-divider>

                <!-- Display notifications like match offers, etc.-->
                <md-subheader class="md-no-sticky"> {{ locale.notifications }} </md-subheader>
                <div ng-controller="NotifsCtrl"
                     ng-include src="'app/notifications/main.html'">
                </div>
                <!-- Chat tabs -->
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky"> {{ locale.lobby_chat }} </md-subheader>
                <div ng-controller="LobbyChatCtrl"
                  ng-include src="'app/lobby_chat/main.html'">
                </div>
            </md-sidenav>

            <div layout="column" flex style="max-height: 100%">
                <div layout="row" style="">
                    <!--
                        Displays the middle of the webapp, which allows people to match, partner, and play games
                    -->
                    <div ng-view class="" style="width: 100%"></div>
                </div>

            </div>

        </section>
        <div style="position:absolute; top:5px; left: 5px; font-size:80%">
            <a href="#?lang=english">
                {{ english }}
            </a>
            <a href="#?lang=russian">
                {{ russian }}
            </a>
        </div>
        <div style="position: absolute; top: 5px; right: 5px">
            <md-button ng-click="RedirectToSignup()"
                       style="margin-right: 0"
                       class="md-raised md-ready">
                {{ locale.signup }}
            </md-button>
            <md-button ng-click="OpenLoginDialog()"
                       class="md-raised md-ready">
                {{ locale.login }}
            </md-button>
        </div>
        <!--
          A shell used only for development purposes. The flag for
          turning on the shell is "dev=true" in the URL.
        -->
        <div ng-controller="IcsShell"
             ng-show="in_dev_mode"
             ng-include src="'app/util/shell/main.html'">

        </div>

    </div>
    <!-- begin olark code -->
    <!--
    <script data-cfasync="false" type='text/javascript'>
        /*<![CDATA[*/window.olark || (function (c) {
            var f = window, d = document, l = f.location.protocol == "https:" ? "https:" : "http:", z = c.name, r = "load"; var nt = function () {
                f[z] = function () {
                    (a.s = a.s || []).push(arguments)
                }; var a = f[z]._ = {
                }, q = c.methods.length; while (q--) {
                    (function (n) {
                        f[z][n] = function () {
                            f[z]("call", n, arguments)
                        }
                    })(c.methods[q])
                } a.l = c.loader; a.i = nt; a.p = {
                    0: +new Date
                }; a.P = function (u) {
                    a.p[u] = new Date - a.p[0]
                }; function s() {
                    a.P(r); f[z](r)
                } f.addEventListener ? f.addEventListener(r, s, false) : f.attachEvent("on" + r, s); var ld = function () {
                    function p(hd) {
                        hd = "head"; return ["<", hd, "></", hd, "><", i, ' onl' + 'oad="var d=', g, ";d.getElementsByTagName('head')[0].", j, "(d.", h, "('script')).", k, "='", l, "//", a.l, "'", '"', "></", i, ">"].join("")
                    } var i = "body", m = d[i]; if (!m) {
                        return setTimeout(ld, 100)
                    } a.P(1); var j = "appendChild", h = "createElement", k = "src", n = d[h]("div"), v = n[j](d[h](z)), b = d[h]("iframe"), g = "document", e = "domain", o; n.style.display = "none"; m.insertBefore(n, m.firstChild).id = z; b.frameBorder = "0"; b.id = z + "-loader"; if (/MSIE[ ]+6/.test(navigator.userAgent)) {
                        b.src = "javascript:false"
                    } b.allowTransparency = "true"; v[j](b); try {
                        b.contentWindow[g].open()
                    } catch (w) {
                        c[e] = d[e]; o = "javascript:var d=" + g + ".open();d.domain='" + d.domain + "';"; b[k] = o + "void(0);"
                    } try {
                        var t = b.contentWindow[g]; t.write(p()); t.close()
                    } catch (x) {
                        b[k] = o + 'd.write("' + p().replace(/"/g, String.fromCharCode(92) + '"') + '");d.close();'
                    } a.P(2)
                }; ld()
            }; nt()
        })({
            loader: "static.olark.com/jsclient/loader0.js", name: "olark", methods: ["configure", "extend", "declare", "identify"]
        });
        /* custom configuration goes here (www.olark.com/documentation) */
        olark.identify('5789-434-10-4559');/*]]>*/</script><noscript><a href="https://www.olark.com/site/5789-434-10-4559/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
        -->
    <!-- end olark code -->
</body>
</html>
