<md-content>
    <md-list class="notif-list">
        <md-list-item ng-show="offers.length === 0 && notifications.length === 0">
            <p> {{ locale.no_current_offers }}</p>
        </md-list-item>
        <md-list-item ng-repeat="offer in offers" ng-click="goToPerson(person.name, $event)">
            <p> {{ offer.title }} </p>
            <br />
            <span>{{ offer.details }} </span>
            <a ng-show="offer.canAccept" ng-click="accept(offer)"><span class="glyphicon glyphicon-ok-circle"></span></a>
            <a ng-show="offer.canAccept" ng-click="dismiss(offer)"><span class="glyphicon glyphicon-remove-circle"></span></a>
        </md-list-item>
        <md-list-item ng-repeat="notification in notifications" ng-click="goToPerson(person.name, $event)" layout="column">
            <div layout="column">
                <p> {{ notification.title }} </p>
                <p ng-show="notification.details"> {{ notification.details }} </p>
                <a ng-click="dismiss(notification)"><span class="glyphicon glyphicon-ok-circle"></span></a>
            </div>
        </md-list-item>
    </md-list>
</md-content>
