<div layout="row">
    <md-select ng-model="choice.variant" placeholder="{{ locale.variant }}" ng-required="true">
        <md-option ng-repeat="variant in variants" value="{{variant.value}}">{{variant.name}}</md-option>
    </md-select>
    <md-input-container flex>
        <label>{{ locale.time }} </label>
        <input ng-model="choice.time" ng-required="true">
    </md-input-container>
    <md-input-container flex>
        <label>{{ locale.increment }} </label>
        <input ng-model="choice.increment" ng-required="true">
    </md-input-container>
</div>