<h3 class="modal-title">
    {{ locale.play_a_game_with_someone }}
</h3>
<form ng-submit="OfferMatch()">
    <md-autocomplete flex required
                     md-input-name="autocompleteField"
                     md-selected-item="input.item"
                     md-search-text="input.username"
                     md-items="item in querySearch(input.username)"
                     md-search-text-change="false"
                     md-selected-item-change="false"
                     md-item-text="item.display"
                     md-floating-label="Username">
        <md-item-template>
            <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
        </md-item-template>
    </md-autocomplete>
    <div ng-controller="gameSettingSelectorController" style="width: 50%">
        <game-setting-selector></game-setting-selector>
    </div>
    <input type="submit" style="display:none"></input>
    <md-button class="md-raised md-primary" ng-click="OfferMatch()">Match</md-button>

</form>
