<center><h3> {{ locale.lobby }} </h3> </center>
<md-list>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">{{ locale.bughouse_games }}</md-subheader>
    <!--Shown if there are no current bughouse games-->
    <md-list-item ng-show="info.bug_games.length == 0">
        <p> {{ locale.none }} </p>
    </md-list-item>
    <!--Shown if thre is at least 1 bughouse game-->
    <md-list-item ng-repeat="game in info.bug_games">
        <p> {{ game }} </p>
    </md-list-item>

    <md-divider></md-divider>
    <md-subheader class="md-no-sticky"> {{ locale.bughouse_partnerships }}</md-subheader>
    <!--Shown if there are no partners-->
    <md-list-item ng-show="info.partnerships.length == 0">
        <p> {{ locale.none }} </p>
    </md-list-item>
    <!--Shown if there is at least 1 partnership-->
    <md-list-item ng-repeat="partnership in info.partnerships">
        <p> {{ partnership }} </p>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">{{ locale.bughouse_players }}</md-subheader>
    <!--Shown if there are no players-->
    <md-list-item ng-show="info.all_players.length == 0">
        <p> {{ locale.none }} </p>
    </md-list-item>
    <!--Shown if there are at least 1 player-->
    <md-list-item ng-repeat="player in info.all_players">
        <p style="margin-left: 20px">{{ player }}</p>
        <!--<button ng-click="chatWith(player)" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </button>-->
        <md-menu>
            <md-button aria-label="Open player interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                <ng-md-icon md-menu-origin icon="chat"></ng-md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ng-click="offer_partnership(player)" layout="row" layout-align="start center">
                        <ng-md-icon icon="person_add" class="lobby-icon" md-menu-align-target></ng-md-icon>
                        Offer to be partners
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="chat_with(player)" layout="row" layout-align="start center">
                        <ng-md-icon icon="chat" class="lobby-icon"></ng-md-icon>
                        Open chat
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <!--<md-button ng-click="ctrl.toggleNotifications()">
                        <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
                        {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications

                    </md-button>-->
                    <md-button ng-click="match_player(player)" layout="row" layout-align="start center">
                        <ng-md-icon icon="play_arrow" class="lobby-icon"></ng-md-icon>
                        Play a game
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-list-item>
</md-list>
