<md-content>
    <md-tabs md-autoselect md-border-bottom >
        <md-tab ng-repeat="chatGroup in chatGroups">
            <md-tab-label>
                <span>{{chatGroup.heading}}</span>
                <md-button ng-click="closeTab(chatGroup, $event )" class="md-icon-button" style="width:25px">
                    <ng-md-icon size="10" icon="close"></ng-md-icon>
                </md-button>
            </md-tab-label>
            <md-tab-body class="md-padding">
                <div style="height: 300px; margin: 5px 5px 5px 5px; overflow-y: scroll" scroll-glue>
                    <table class="messages">
                        <tr ng-repeat="message in chatGroup.messages">
                            <td style="border-right: 1px solid lightgray"> {{message.name}} </td>
                            <td> {{message.msg}} </td>
                        </tr>
                    </table>
                </div>
                <md-divider></md-divider>
                <div layout="row" style="margin-left: 5px">
                  <md-input-container flex>
                      <label> Message  </label>
                      <input ng-model="chatGroup.currentText" 
                        ng-keypress="onKeyPress($event, chatGroup)"
                        ng-required="true"/>
                  </md-input-container>
                  <md-button style="padding-top:1px; padding-bottom:2px; height: 30px; margin-top: 15px "
                    class="md-raised" ng-click="sendMsg()">  {{ locale.send }} </md-button>
                </div>

            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
