<md-content flex layout-padding>
    <!-- Displays the chessboard(s) -->
    <div ng-controller="GameCtrl"
         ng-include src="'app/game/main.html'">
    </div>
    <center>
        <md-button ng-show="ObservingBoards()"
                class="md-warn"
                ng-click="Resign()">
            {{ locale.resign }}
        </button>
    </center>
</md-content>
<!-- Helper div tag to dismiss modal when done. -->
<div ng-if="!ObservingBoards()">
  {{ ReturnToHome() }}
  <!--USER SHOULD NOT SEE THIS MESSAGE--> 
  <!--Note: they can still see the above momentararily-->
</div>
