<div style="height: 300px; margin: 5px 5px 5px 5px; overflow-y: scroll" scroll-glue>
<table class ="messages">
  <tr ng-repeat = "message in lobby.messages">
    <td> {{message.time}} </td>
    <td style="border-right: 1px solid lightgray"> {{message.name}} </td>
    <td> {{message.msg}} </td>
  </tr>
</table>
</div>
<md-divider></md-divider>
<div layout="row">
  <md-input-container flex>
      <label> Message  </label>
      <input ng-model="lobby.current_text" 
        ng-keypress="key_pressed($event)"
        ng-required="true"/>
  </md-input-container>
  <md-button style="padding-top:1px; padding-bottom:2px; height: 30px; margin-top: 15px "
    class="md-raised" ng-click="send_msg()">  {{ locale.send }} </md-button>
</div>

