<!--
  One-click buttons for various common server activities.

  TODO: consider putting in template file somewhere.
-->


<section layout="row">
    <!--
      Side navbar that holds the notifications as well as chat tabs
    -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" style="min-height: 100%">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools"> {{ locale.welcome }}  {{ GetUsername() }} </h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
        </md-content>

        <!-- Display notifications like match offers, etc.-->
        <md-subheader class="md-no-sticky"> {{ locale.notifications }} </md-subheader>
        <div ng-controller="NotifsCtrl"
             ng-include src="'app/notifications/main.html'">
        </div>
        <!-- Chat tabs -->
        <md-divider></md-divider>

        <md-subheader> {{ locale.lobby_chat}} </md-subheader>
        <div ng-controller="LobbyChatCtrl"
             ng-include src="'app/lobby_chat/main.html'">
        </div>
        <md-subheader class="md-no-sticky">
            <div style="position:absolute; top:5px; left: 5px; font-size:80%">
                <a href="#?lang=english">
                    {{ english }}
                </a>
                <a href="#?lang=russian">
                    {{ russian }}
                </a>
                </a>
            </div>
        </md-subheader>
        <!--<md-subheader class="md-no-sticky"> {{ locale.chat_tabs }} </md-subheader>
        <div ng-controller="ChatController"
             ng-include src="'app/chat/main.html'">
        </div>-->
    </md-sidenav>

    <div layout="column" flex style="min-height: 100%">
        <div class="page-header page-header-custom">
            <!--
            Sign in and sign up
            -->
            <div style="position:absolute; top:5px; right: 5px">
                <button ng-click="RedirectToSignup()"
                        class="btn btn-default">
                    {{ locale.signup }}
                </button>
                <button ng-click="OpenLoginDialog()"
                        class="btn btn-default">
                    {{ locale.login }}
                </button>
            </div>
            <!--
            Display the header of the page
            -->
            <h1 style="margin-left: 15px; ">
                <img src="http://bughouseclub.com/wp-content/uploads/2015/01/Lol1-300x65.png"></img>
            </h1>
        </div>
        <div layout="row" flex="100" style="min-height: 100%">
            <!--
                Displays the middle of the webapp, which allows people to match, partner, and play games
            -->
            <div ng-view class="" style="width: 100%"></div>

            <!--
              Display the games, partnerships, unpartnered players, or just
              everybody.
            -->
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
                <md-content layout-padding>
                    <div>
                        <div ng-controller="LobbyCtrl"
                             ng-include src="'app/lobby/main.html'">
                        </div>
                    </div>
                </md-content>
            </md-sidenav>
        </div>

    </div>

</section>
<!--
  A shell used only for development purposes. The flag for
  turning on the shell is "dev=true" in the URL.
-->
<div ng-controller="IcsShell"
     ng-show="in_dev_mode"
     ng-include src="'app/util/shell/main.html'">

</div>
