<div layout="row">

<md-content flex layout-padding>
<!-- Displays the match and partner ui -->
<div ng-controller="MatchCtrl"
  ng-include src="'app/match/main.html'">
</div>
<md-divider></md-divider>
<h3> {{ locale.chat_tabs}} </h3>
<div ng-controller="ChatController"
     ng-include src="'app/chat/main.html'">
</div>
</md-content>

<!--
    Display the games, partnerships, unpartnered players, or just
    everybody.
  -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
<div ng-controller="LobbyCtrl"
  ng-include src="'app/lobby/main.html'">
</div>
</md-sidenav>
</div>
