<div class="modal-header">
  <h3 class="modal-title">{{ locale.partner_a_friend }}</h3>
</div>

<div class="modal-body">
  <table>
    <tr>
      <td> {{ locale.username}}</td>
      <td>
        <input type="text"
               ng-disabled="disabled"
               ng-model="input.username"
               autofocus />
       </td>
    </tr>
  </table>
  <p class="error">{{ error.msg }}</p>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="OfferPartner()">{{ locale.ok }}</button>
  <button class="btn btn-warning" ng-click="Close()">{{ locale.cancel }}</button>
</div>

<!-- Helper div tag to dismiss modal when done. -->
<div ng-if="partner_issued.status">
  {{ CloseAndNotifySuccess() }}
  <!--USER SHOULD NOT SEE THIS MESSAGE--> 
  <!--Note: they can still see the above momentararily-->
</div>
