<div class="modal-header">
  <h3 class="modal-title">{{ locale.login }}</h3>
</div>

<div class="modal-body">
  <table >
    <tr>
      <td>
        {{ locale.username }}:
      </td>
      <td>
      <input type="text"
             style="width: 180px"
             ng-disabled="disabled"
             ng-model="input.username"
             autofocus />
      </td>
    </tr>
    <tr>
      <td>
        {{ locale.password }}:
      </td>
      <td>
        <input type="password"
               style="width: 180px"
               ng-disabled = "disabled"
               ng-model="input.password"
               ng-keypress="onKeyPressPwd($event)"/>
        <p>{{ login_status.msg }}</p>
        <p class="error">{{ error.msg }}</p>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="AttemptLogin()"> {{ locale.login }}</button>
</div>

<!-- Helper div tag to dismiss modal when login is successful. -->
<div ng-if="login_status.logged_in">
  {{ Close() }}
  USER SHOULD NOT SEE THIS MESSAGE
</div>
