<div class="modal-header">
  <h3 class="modal-title">Partner a friend</h3> <input type="text" ng-model="choice.name"/>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
