<div class="modal-header">
  <h3 class="modal-title">Play a friend</h3> <input type="text" ng-model="choice.name"/>
</div>
<div class="modal-body">
  <div ng-controller="gameSettingSelectorController">
    <game-setting-selector></game-setting-selector>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
